body{
    color:black;
}

.container{
    display: grid;
    grid-template: 100px 1fr 100px / 1fr 250px;
    grid-template-areas: "header header"  
                          "contenido right"
                          "footer footer";
    grid-gap: 20px;
    height: 100vh;

}


.container2{
    display: grid;
    grid-template: 100px 1fr 100px / 1fr;
    grid-template-areas: "header header"  
                          "contenido contenido"
                          "footer footer";
    grid-gap: 20px;
    height: 100vh;
}

.header{
    grid-area: header;
}

.right{
    grid-area: right;
}

.contenido{
    grid-area: contenido;
}

.footer{
    grid-area: footer;
}

.item{
    background-color: lightblue;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

.menu{
    
    background-color: lightblue;
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.menu a{
    padding: 10px;
    margin:10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.contenedor {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
/*Inicio*/
.inicio{
    width:250px;
    height: 250px;
    padding: 5px;
}

#alimentos{
    position:relative;
    right: 75%;
    color:white;
}

#accesorios{
    position: relative;
    left: 30%;
    color:white;
}
#envios{
    position: relative;
    left: 50%;
    color: white;
}
/*Alimentos*/
.container-alimentos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
}

.item-alimentos{
    background-color: rgba(0, 0, 255, 0.76);
    color: white;
    border: 1px solid black;
    padding: 20px;
    width:300px;
    height:100px;
    text-align: center;
}

.contenido iframe{
    width: 100%;
    height:100%;
    border: 0ch;
}

/*ACCESORIOS*/
.container-accesorios{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
}

.item-accesorios{
    background-color: rgba(0, 0, 255, 0.76);
    color: white;
    border: 1px solid black;
    padding: 50px;
    width: 300px;
    height: 350px;
    text-align: center;
}

.item-accesorios img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

/*Fuentes de Google Fonts*/
.header, .footer{
    font-family: 'Ubuntu', sans-serif;
}

.contenido, .right{
    font-family: 'Jost', sans-serif;
}

/*FOOTER*/
.social-networks{
    font-size: 25px;
    position: relative;
    left: 50px;
    top: 10px;
}

.social-networks > a {
    padding: 5px;
    margin: 5px;
}

.red-soc{
    font-weight: bold;
    position: relative;
    left: 42px;
}

.medios{
    font-weight: bold;
    position:relative;
    bottom:45px;
    left:45%;
}

.medios-pago{
    position: relative;
    left: 40%;
    bottom:50px;
    font-size: 15px;
}

.copyright{
    width:300px;
    height:auto;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 75%;
    bottom:130px;
}
/*Apartado Derecha*/
.curioso{
    text-decoration: underline;
}

.dato{
    font-size: 0.8em;
    transition: all 1s ease-in-out 0.8s;
}

/*TRANSICIÓN*/
.dato:hover{
    font-size: 1em;
    background-color: yellow;
    text-decoration: underline;
}

.submit{
    background-color: black;
    color:white;
    border: 3px inset blue;
    width:80px;
    height: 30px;
    padding: 5px;
    position:relative;
    left: 100px;
}

#cercana{
    text-decoration: underline;
    text-align: center;
}


/*SUCURSAL*/
.container-sucursal{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
}

.item-sucursal{
    background-color: rgba(0, 0, 255, 0.76);
    color: white;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.mapa iframe{
    width: 600px;
    height:300px;
}

.descripcion p{
    font-size:28px;
}
